@media only screen and (max-width: 500px){
    h1{
        font-size: 60%;
    }
    h2{
        font-size: 60%;
    }
    header{
        nav{
            a{
                font-size: 70%;
            }
            .imgEnlace{
                .logoPrincipalHeader{
                    width: 4rem;
                    height: auto;
                }
            }
        }
    }
    main{
        p{
            width: 10rem;
            position: absolute;
            top: 6rem;
            right: 2rem;
            font-size: 50%;
        }
        button{
            width: 3rem;
            position: absolute;
            top: 8rem;
            right: 3rem;
            background-color: white;
            font-weight: 900;
            font-size: 0.5rem;
        }
    }
    footer{
        display: flex;
        justify-content: space-between;
        nav{
            ul{
                li{
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 70%;
                    }
                }
            }
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 70%;
        }
        .logoPrincipalHeader{
            width: 4rem;
            height: auto;
        }

    }
    .sectionBio{
        padding: 5%;
        row-gap: 10%;
        column-gap: 10%;
        display: grid;
        grid-template-areas: 
        'imgBio1 imgBio1 p'
        'imgBio2 imgBio2 p'
        'imgBio3 imgBio3 p';
        .imgBio1{
            grid-area: imgBio1;
            width: 100%;
        }
        .imgBio2{
            grid-area: imgBio2;
            width: 100%;
        }
        .imgBio3{
            grid-area: imgBio3;
            width: 100%;
        }
        .parrafoBio{
            width: 100%;
            grid-area: p;
            font-size: 70%;
        }

    }
    .divSpoti{
        padding: 5%;
    }
    .divConciertos{
        padding: 5%;
    }
    .divConciertos iframe{
        width: 100%;
    }
    .sectionImg{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        row-gap: 1%;
        column-gap: 1%;
        padding: 5%;
        .imgGaleria{
            width: 100% ;
            align-self: center;
            justify-self: center;
        }
    }
}